.row > div {
  height: 100px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: 10px solid #ffffff;
    padding: 125px;
    width: 500px;
    height: 100px;
}
.centradoabajo{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}


 @media screen and (max-width:576px) {
  .row > .grande{
    height: 810px;
  }
}
@media screen and (max-width:768px) and (min-width:576px) {
  .row > .grande{
    height: 710px;
  }
}
@media screen and (min-width:768px) {
  .row > .grande{
    height: 510px;
  }
}

@media screen and (max-width:768px) {
 .row > .mediana{
   height: 100px;
 }
}
@media screen and (min-width:768px) {
  .row > .mediana{
    height: 200px;
  }
}

@media screen and (max-width:768px) {
 .row > .extgrande{
  height: 2800px;
 }
}
@media screen and (min-width:768px) {
  .row > .extgrande{
    height: 1400px;
  }
}

.row > .pequena{
  height: 33px;
}
.row > .mediun{
  height: 200px;
}
.row > .inter{
  height: 250px;
}
.row > .muygrande{
  height: 450px;
}



.red  {
  background-color: red;
}

.orange {
  background-color: #F36026;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.violet {
  background-color: violet;
}
.grey{
    background-color: grey;
}
.black{
    background-color: black;
}
